* {
    font-family: sans-serif;
}

#input {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

input {
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
}

input::placeholder {
    color: #ccc;
}

button {
    padding: .5rem 3rem;
    border: 1px solid black;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button:hover {
    filter: brightness(0.8);
}

button:active {
    filter: brightness(0.6);
}

.button-excluir {
    background-color: #f44336;
    color: white;
}

table {
    border-collapse: separate;
}

thead {
    background-color: #8a2be1;
    color: white;
}

thead th {
    padding: .3rem;
    font-weight: 400;
}

tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}


tbody td:first-child {
    padding: .3rem .6rem;
}

tbody td {
    padding: .3rem 3rem;
    font-weight: 400;
}

tbody td:last-child {

    width: fit-content;
}